/* Ensure the dropdown is hidden by default */
.nav-item .dropdown-menu{
    display: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    position: absolute;
}

/* Show the dropdown menu when hovering over the nav item */
.nav-item:hover .dropdown-menu{
    display: block;
    opacity: 1;
}

/* styles.css */
.nav-link a {
    color: #434141;
    text-decoration: none;
}

.nav-link a:hover {
    color: #8f8a8a; /* Màu mới khi rê chuột vào, bạn có thể thay đổi giá trị này */
    text-decoration: none;
}

